* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #1C2025;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    min-width: 400px;
}
header h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    white-space: nowrap;
}

main {
    display: flex;
    margin: 100px 0 0;
    justify-content: center;
}
.main_block {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
    margin: 0 10px;
}

.record {
    display: flex;
    background-color: #fff;
    align-items: center;
    padding: 0 15px;
    height: 40px;
}
.record:nth-child(even) {
    background-color: #EFEFF0;
}

.record div {
    font-size: 12px;
    line-height: 12px;
}
.record div:first-child {
    width: 140px;
}
.record span {
    font-size: 9px;
    color: rgba(28, 32, 37, 0.4);
}